@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Nunito Sans", "Kumbh Sans", sans-serif;
  color: #1c1c1b;
  position: relative;
}

img {
  height: auto;
  width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: white;
}

.policy {
  text-decoration: underline;
}

label {
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: white;
  margin-top: 18px;
  margin-bottom: 8px;
  display: block;
}

input {
  padding: 8px 24px;
  border-radius: 30px;
  background-color: white;
  color: #1c1c1b;
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.btn {
  color: white;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #e4002b;
  padding: 16px 24px;
  border-radius: 30px;
  cursor: pointer;
}

:root {
  --swiper-navigation-size: 40px !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

div.swiper-button-next,
div.swiper-button-prev {
  color: #fff;
  margin-left: 40px;
  margin-right: 40px;
}

@media screen and (max-width: 1312px) {
  label {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  input {
    padding: 8px 24px;
    font-size: 18px;
    line-height: 22px;
  }
  button.btn {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    padding: 16px 24px;
  }
  div.hero div.text {
    padding: 190px 96px 190px 96px;
  }
  div.hero div.text div h1 {
    font-size: 38px;
    line-height: 42px;
  }
  div.hero div.text div h2 {
    font-size: 24px;
    line-height: 26px;
    margin-top: 32px;
    margin-bottom: 40px;
  }
  div.second-part div:first-child img {
    height: 100%;
  }
  div.second-part div.description {
    padding: 160px 96px;
  }
  div.second-part div.description p {
    font-size: 14px;
    line-height: 18px;
  }
  div.first-form div.first-block {
    padding: 88px;
  }
  div.first-form div.first-block > div:first-child div div.flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.first-form div.first-block > div:first-child div div.flex h2 {
    font-size: 38px;
    line-height: 42px;
  }
  div.first-form div.first-block > div:first-child div p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
  }
  div.first-form div.first-block form div:first-child div:first-child {
    margin-right: 16px;
    width: 47%;
  }
  div.first-form div.first-block form div:first-child div:last-child {
    width: 48%;
  }
  div.first-form div.first-block form div.selection div:last-child input {
    margin-bottom: 16px;
  }
  div.first-form div.first-block form div.st-newsletter {
    margin-bottom: 32px;
    margin-top: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.first-form div.first-block form div.st-newsletter label {
    font-size: 13px;
    line-height: 18px;
  }
  div.first-form div.second-block img {
    height: 100%;
  }
  div.who-we-are {
    padding: 110px 64px 74px 64px;
  }
  div.who-we-are div.text-logo div:first-child {
    width: 44%;
  }
  div.who-we-are div.text-logo div:first-child h2 {
    font-size: 34px;
    line-height: 36px;
  }
  div.who-we-are div.text-logo div:first-child p {
    font-size: 16px;
    line-height: 20px;
  }
  div.who-we-are div.text-logo div:last-child {
    width: 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  div.who-we-are div.text-logo div:last-child svg {
    width: 60%;
    height: auto;
  }
  div.who-we-are div.achievements {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
  div.who-we-are div.achievements > div {
    margin-bottom: 5px;
  }
  div.who-we-are div.achievements > div div:first-child {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 16px;
    margin-bottom: 8px;
  }
  div.who-we-are div.achievements > div div:last-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  div.who-we-are div.achievements > div div:last-child span:first-child {
    font-size: 36px;
    line-height: 36px;
    margin-right: 8px;
  }
  div.who-we-are div.achievements > div div:last-child span:last-child {
    font-size: 14px;
    line-height: 16px;
  }
  div.why-to-work-with-us {
    padding: 80px 0;
  }
  div.why-to-work-with-us div.main-block > div {
    width: 50%;
  }
  div.why-to-work-with-us div.main-block > div img {
    height: 100%;
  }
  div.why-to-work-with-us div.main-block div.second-block {
    padding: 0 88px;
    width: 50%;
  }
  div.why-to-work-with-us div.main-block div.second-block h3 {
    font-size: 34px;
    line-height: 36px;
  }
  div.why-to-work-with-us div.main-block div.second-block div.six-blocks {
    margin-top: 24px;
  }
  div.why-to-work-with-us div.main-block div.second-block div.six-blocks div {
    margin-top: 40px;
    margin-right: 24px;
    width: 28%;
  }
  div.why-to-work-with-us div.main-block div.second-block div.six-blocks div h3 {
    font-size: 32px;
    line-height: 36px;
    width: 100%;
  }
  div.why-to-work-with-us div.main-block div.second-block div.six-blocks div h4 {
    font-size: 16px;
    line-height: 20px;
  }
  div.why-to-work-with-us div.main-block div.second-block div.six-blocks div p {
    font-size: 16px;
    line-height: 20px;
  }
  div.why-to-work-with-us div.main-block div.second-block div:last-of-type {
    margin-top: 80px;
  }
  div.become-our-partner {
    padding: 88px 96px 76px 96px;
  }
  div.become-our-partner div.titles h3 {
    font-size: 38px;
    line-height: 42px;
  }
  div.become-our-partner div.titles h4 {
    font-size: 20px;
    line-height: 24px;
  }
  div.become-our-partner form {
    margin-top: 32px;
  }
  div.become-our-partner form div:first-child div {
    margin-right: 10px;
  }
  div.become-our-partner form div:first-child div.fit {
    width: 24%;
  }
  div.become-our-partner form div:first-child > div:last-child {
    margin: 0;
  }
  div.become-our-partner form div:first-child > div:last-child > div.specialty {
    margin: 0;
  }
  div.become-our-partner form div:first-child > div:last-child > div.specialty input {
    padding: 8px 16px;
    margin-right: 10px;
  }
  div.become-our-partner form div.newsletter-check {
    margin-top: 41px;
  }
  div.become-our-partner form div.newsletter-check label {
    font-size: 12px;
    line-height: 14px;
  }
  div.become-our-partner form div:last-child {
    margin-top: 25px;
  }
  footer.footer {
    padding: 64px 193px 62px 193px;
  }
  footer.footer div.footer-titles h2 {
    font-size: 38px;
    line-height: 42px;
  }
  footer.footer div.footer-info {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 40px;
  }
  footer.footer div.footer-info div a {
    margin-left: 0;
  }
  footer.footer div.footer-info div a span:first-child {
    margin-right: 16px;
  }
  footer.footer div.footer-info div a span:first-child svg {
    width: 14px;
    height: 16px;
  }
  footer.footer div.footer-info div a span:last-child {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 992px) {
  label {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  input {
    padding: 8px 24px;
    line-height: 18px;
    font-size: 14px;
  }
  button.btn {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    padding: 8px 24px;
  }
  div.hero div.text {
    padding: 144px 64px 140px 64px;
  }
  div.hero div.text div h1 {
    font-size: 28px;
    line-height: 34px;
  }
  div.hero div.text div h2 {
    font-size: 20px;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 32px;
  }
  div.second-part div:first-child img {
    height: 100%;
  }
  div.second-part div.description {
    padding: 80px 64px;
  }
  div.second-part div.description p {
    font-size: 14px;
    line-height: 18px;
  }
  div.first-form div.first-block {
    padding: 80px 64px;
  }
  div.first-form div.first-block > div:first-child div div.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.first-form div.first-block > div:first-child div div.flex h2 {
    font-size: 26px;
    line-height: 30px;
  }
  div.first-form div.first-block > div:first-child div div.flex h2:first-child {
    margin-right: 6px;
  }
  div.first-form div.first-block > div:first-child div p {
    font-size: 16px;
    line-height: 20px;
  }
  div.first-form div.first-block form div:first-child div:first-child {
    margin-right: 16px;
    width: 47%;
  }
  div.first-form div.first-block form div:first-child div:last-child {
    width: 48%;
  }
  div.first-form div.first-block form div.selection div:last-child input {
    margin-bottom: 16px;
  }
  div.first-form div.first-block form div.st-newsletter {
    margin-bottom: 32px;
    margin-top: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.first-form div.first-block form div.st-newsletter label {
    font-size: 12px;
    line-height: 16px;
  }
  div.first-form div.second-block img {
    height: 100%;
  }
  div.who-we-are {
    padding: 64px;
  }
  div.who-we-are div.text-logo div:first-child {
    width: 50%;
  }
  div.who-we-are div.text-logo div:first-child h2 {
    font-size: 26px;
    line-height: 30px;
  }
  div.who-we-are div.text-logo div:first-child p {
    font-size: 14px;
    line-height: 18px;
  }
  div.who-we-are div.text-logo div:last-child {
    width: 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  div.who-we-are div.text-logo div:last-child svg {
    width: 60%;
    height: auto;
  }
  div.who-we-are div.achievements {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
  }
  div.who-we-are div.achievements > div {
    margin-bottom: 5px;
  }
  div.who-we-are div.achievements > div div:first-child {
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }
  div.who-we-are div.achievements > div div:last-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  div.who-we-are div.achievements > div div:last-child span:first-child {
    font-size: 28px;
    line-height: 32px;
    margin-right: 4px;
  }
  div.who-we-are div.achievements > div div:last-child span:last-child {
    font-size: 12px;
    line-height: 16px;
  }
  div.why-to-work-with-us {
    padding: 80px 0;
  }
  div.why-to-work-with-us div.main-block > div img {
    height: 100%;
  }
  div.why-to-work-with-us div.main-block div.second-block {
    padding: 0 64px;
  }
  div.why-to-work-with-us div.main-block div.second-block h3 {
    font-size: 26px;
    line-height: 30px;
  }
  div.why-to-work-with-us div.main-block div.second-block div.six-blocks {
    margin-top: 0;
  }
  div.why-to-work-with-us div.main-block div.second-block div.six-blocks div {
    margin-top: 40px;
    margin-right: 15px;
    width: 45%;
  }
  div.why-to-work-with-us div.main-block div.second-block div.six-blocks div h3 {
    font-size: 28px;
    line-height: 32px;
    width: 100%;
  }
  div.why-to-work-with-us div.main-block div.second-block div.six-blocks div h4 {
    font-size: 14px;
    line-height: 18px;
  }
  div.why-to-work-with-us div.main-block div.second-block div.six-blocks div p {
    font-size: 14px;
    line-height: 18px;
  }
  div.why-to-work-with-us div.main-block div.second-block div:last-of-type {
    margin-top: 30px;
  }
  div.become-our-partner {
    padding: 80px 40px 64px 40px;
  }
  div.become-our-partner div.titles h3 {
    font-size: 26px;
    line-height: 30px;
  }
  div.become-our-partner div.titles h4 {
    font-size: 16px;
    line-height: 20px;
  }
  div.become-our-partner form {
    margin-top: 16px;
  }
  div.become-our-partner form div:first-child div {
    margin-right: 9px;
  }
  div.become-our-partner form div:first-child div.fit {
    width: 24%;
  }
  div.become-our-partner form div:first-child > div:last-child {
    margin: 0;
  }
  div.become-our-partner form div:first-child > div:last-child > div.specialty {
    margin: 0;
  }
  div.become-our-partner form div:first-child > div:last-child > div.specialty input {
    padding: 8px 16px;
    margin-right: 10px;
  }
  div.become-our-partner form div.newsletter-check {
    margin-top: 32px;
  }
  div.become-our-partner form div.newsletter-check label {
    font-size: 12px;
    line-height: 16px;
  }
  div.become-our-partner form div:last-child {
    margin-top: 32px;
  }
  footer.footer {
    padding: 48px 73px;
  }
  footer.footer div.footer-titles h2 {
    font-size: 26px;
    line-height: 30px;
  }
  footer.footer div.footer-info {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 32px;
  }
  footer.footer div.footer-info div a {
    margin-left: 0;
  }
  footer.footer div.footer-info div a span:first-child {
    margin-right: 16px;
  }
  footer.footer div.footer-info div a span:first-child svg {
    width: 16px;
    height: 16px;
  }
  footer.footer div.footer-info div a span:last-child {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 320px) {
  label {
    font-weight: 300;
    font-size: 13px;
    line-height: 17px;
    margin-top: 8px;
    margin-bottom: 4px;
  }
  input {
    padding: 8px 24px;
    line-height: 18px;
    font-size: 12px;
  }
  button.btn {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    padding: 8px 24px;
  }
  :root {
    --swiper-navigation-size: 20px !important;
  }
  div.swiper-button-next,
  div.swiper-button-prev {
    margin-left: 0;
    margin-right: 0;
    width: 4px;
  }
  div.hero div.slide-show div.img-slide-show div.swiper div.swiper-wrapper div.swiper-slide div.hero-slide-show-block svg.stanley {
    width: 50%;
    bottom: 10px;
  }
  div.hero div.slide-show div.img-slide-show div.swiper div.swiper-wrapper div.swiper-slide div.hero-slide-show-block svg.irwin {
    height: auto;
    width: 50%;
    bottom: 10px;
  }
  div.hero div.slide-show div.img-slide-show div.swiper div.swiper-wrapper div.swiper-slide div.hero-slide-show-block svg.kemper {
    height: auto;
    width: 50%;
    bottom: 20px;
  }
  div.hero div.slide-show div.img-slide-show div.swiper div.swiper-wrapper div.swiper-slide div.hero-slide-show-block svg.samedia {
    height: auto;
    width: 40%;
    bottom: 10px;
  }
  div.hero div.slide-show div.img-slide-show div.swiper div.swiper-wrapper div.swiper-slide div.hero-slide-show-block svg.fisher {
    height: auto;
    width: 50%;
    bottom: 15px;
  }
  div.hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  div.hero div.text {
    padding: 33px 16px 47px 16px;
    width: 100%;
  }
  div.hero div.text div h1 {
    font-size: 30px;
    line-height: 34px;
  }
  div.hero div.text div h2 {
    font-size: 22px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  div.hero div.slide-show {
    width: 100%;
  }
  div.second-part {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.second-part div:first-child {
    width: 100%;
  }
  div.second-part div:first-child img {
    height: 100%;
  }
  div.second-part div.description {
    width: 100%;
    padding: 24px 16px 40px 16px;
  }
  div.second-part div.description div:first-child {
    margin-bottom: 16px;
    width: 72%;
  }
  div.second-part div.description p {
    font-size: 13px;
    line-height: 17px;
  }
  div.first-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  div.first-form div.first-block {
    padding: 32px 16px 40px 16px;
    width: 100%;
  }
  div.first-form div.first-block > div:first-child div div.flex {
    display: block;
    text-align: center;
  }
  div.first-form div.first-block > div:first-child div div.flex h2 {
    font-size: 28px;
    line-height: 32px;
  }
  div.first-form div.first-block > div:first-child div p {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 16px;
  }
  div.first-form div.first-block form div:first-child div:first-child {
    margin-right: 0;
    width: 100%;
  }
  div.first-form div.first-block form div:first-child div:last-child {
    width: 100%;
  }
  div.first-form div.first-block form div.selection label {
    margin-bottom: 8px;
  }
  div.first-form div.first-block form div.selection div:last-child input {
    margin-bottom: 8px;
    margin-right: 8px;
  }
  div.first-form div.first-block form div.st-newsletter {
    margin-top: 24px;
    margin-bottom: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.first-form div.first-block form div.st-newsletter input {
    width: 20px;
    height: 16px;
  }
  div.first-form div.first-block form div.st-newsletter label {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
  }
  div.first-form div.second-block {
    width: 100%;
  }
  div.first-form div.second-block img {
    height: 100%;
  }
  div.who-we-are {
    padding: 40px 16px;
  }
  div.who-we-are div.text-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.who-we-are div.text-logo div:first-child {
    width: 100%;
  }
  div.who-we-are div.text-logo div:first-child h2 {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 8px;
  }
  div.who-we-are div.text-logo div:first-child p {
    font-size: 13px;
    line-height: 17px;
  }
  div.who-we-are div.text-logo div:last-child {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 40px;
    margin-bottom: 48px;
  }
  div.who-we-are div.text-logo div:last-child svg {
    width: 65%;
    height: auto;
  }
  div.who-we-are div.achievements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.who-we-are div.achievements > div {
    margin-bottom: 40px;
  }
  div.who-we-are div.achievements > div div:first-child {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
  div.who-we-are div.achievements > div div:last-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  div.who-we-are div.achievements > div div:last-child span:first-child {
    font-size: 48px;
    line-height: 36px;
    margin-right: 8px;
  }
  div.who-we-are div.achievements > div div:last-child span:last-child {
    font-size: 18px;
    line-height: 22px;
  }
  div.why-to-work-with-us {
    padding: 0;
  }
  div.why-to-work-with-us div.main-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.why-to-work-with-us div.main-block > div {
    width: 100%;
  }
  div.why-to-work-with-us div.main-block > div img {
    height: 100%;
  }
  div.why-to-work-with-us div.main-block div.second-block {
    width: 100%;
    padding: 32px 16px 40px 16px;
  }
  div.why-to-work-with-us div.main-block div.second-block h3 {
    font-size: 28px;
    line-height: 32px;
  }
  div.why-to-work-with-us div.main-block div.second-block div.six-blocks {
    margin-top: 0;
  }
  div.why-to-work-with-us div.main-block div.second-block div.six-blocks div {
    margin-top: 32px;
    margin-right: 24px;
    width: 41%;
  }
  div.why-to-work-with-us div.main-block div.second-block div.six-blocks div h3 {
    font-size: 28px;
    line-height: 32px;
    width: 100%;
  }
  div.why-to-work-with-us div.main-block div.second-block div.six-blocks div h4 {
    font-size: 13px;
    line-height: 17px;
  }
  div.why-to-work-with-us div.main-block div.second-block div.six-blocks div p {
    font-size: 13px;
    line-height: 17px;
  }
  div.why-to-work-with-us div.main-block div.second-block div:last-of-type {
    margin-top: 40px;
  }
  div.become-our-partner {
    padding: 40px 16px;
  }
  div.become-our-partner div.titles h3 {
    font-size: 28px;
    line-height: 32px;
    text-align: center;
  }
  div.become-our-partner div.titles h4 {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }
  div.become-our-partner form {
    margin-top: 16px;
  }
  div.become-our-partner form div:first-child {
    display: block;
  }
  div.become-our-partner form div:first-child div.fit {
    width: 100%;
  }
  div.become-our-partner form div:first-child > div {
    margin-right: 0;
  }
  div.become-our-partner form div:first-child > div > input:nth-child(2) {
    width: 100%;
  }
  div.become-our-partner form div:first-child > div:last-child {
    margin: 0;
  }
  div.become-our-partner form div:first-child > div:last-child label {
    margin-bottom: 8px;
  }
  div.become-our-partner form div:first-child > div:last-child > div.specialty input {
    margin-right: 8px;
    margin-bottom: 8px;
  }
  div.become-our-partner form > div.newsletter-check {
    margin-top: 24px;
  }
  div.become-our-partner form > div:last-child {
    margin-top: 16px;
  }
  footer.footer {
    padding: 40px 16px;
  }
  footer.footer div.footer-titles h2 {
    font-size: 22px;
    line-height: 26px;
  }
  footer.footer div.footer-info {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 24px;
  }
  footer.footer div.footer-info div {
    margin-bottom: 8px;
  }
  footer.footer div.footer-info div a {
    margin-left: 0;
  }
  footer.footer div.footer-info div a span:first-child {
    margin-right: 16px;
    width: 14px;
    height: 16px;
  }
  footer.footer div.footer-info div a span:first-child svg {
    width: 14px;
    height: 16px;
  }
  footer.footer div.footer-info div a span:last-child {
    font-size: 13px;
    line-height: 17px;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero .text {
  width: 50%;
  padding: 170px 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .text > div h1 {
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.hero .text > div h2 {
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #003f7e;
  margin-top: 40px;
  margin-bottom: 48px;
}

.hero .slide-show {
  width: 50%;
}

.hero .slide-show .img-slide-show div.hero-slide-show-block {
  position: relative;
  width: 100%;
}

.hero .slide-show .img-slide-show div.hero-slide-show-block img.stanley-img {
  width: 100%;
  height: 100%;
}

.hero .slide-show .img-slide-show div.hero-slide-show-block svg {
  position: absolute;
  z-index: 1;
  bottom: 60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: auto;
  width: 40%;
}

.hero .slide-show .img-slide-show div.hero-slide-show-block .stanley {
  bottom: 10px;
  width: 32%;
}

.hero .slide-show .img-slide-show div.hero-slide-show-block .irwin {
  height: auto;
  width: 30%;
  bottom: 18px;
}

.hero .slide-show .img-slide-show div.hero-slide-show-block .kemper {
  height: auto;
  width: 30%;
}

.hero .slide-show .img-slide-show div.hero-slide-show-block .samedia {
  height: auto;
  width: 21%;
}

.hero .slide-show .img-slide-show div.hero-slide-show-block .sand-storm {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 542px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(99.48%, rgba(255, 255, 255, 0.5)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 99.48%);
}

.second-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.second-part > div:first-child {
  width: 50%;
}

.second-part > div:first-child img {
  width: 100%;
  height: auto;
}

.second-part div.description {
  padding: 110px;
  width: 50%;
}

.second-part div.description > div:first-child {
  margin-bottom: 20px;
}

.second-part div.description > div:first-child svg {
  width: 100%;
}

.second-part div.description > div:first-child svg path {
  fill: #1c1c1b;
}

.second-part div.description > div:first-child svg path:first-child {
  fill: #e1001a;
}

.second-part div.description > div:first-child svg path:nth-child(2) {
  fill: white;
}

.second-part div.description p {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.first-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.first-form .first-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #005098;
  padding: 110px;
  width: 50%;
}

.first-form .first-block div:first-child {
  color: white;
}

.first-form .first-block div:first-child h2 {
  font-weight: 800;
  font-size: 38px;
  line-height: 42px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.first-form .first-block div:first-child p {
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.02em;
  margin-top: 16px;
  margin-bottom: 14px;
}

.first-form .first-block form > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.first-form .first-block form > div:first-child div:first-child {
  margin-right: 16px;
  width: 47%;
}

.first-form .first-block form > div:first-child div:last-child {
  width: 50%;
}

.first-form .first-block form > div:first-child div input {
  width: -webkit-fill-available;
}

.first-form .first-block form > div:nth-child(2) input,
.first-form .first-block form > div:nth-child(3) input,
.first-form .first-block form > div:nth-child(4) input {
  width: -webkit-fill-available;
}

.first-form .first-block form .selection label {
  margin-bottom: 16px;
}

.first-form .first-block form .selection div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.first-form .first-block form .selection div input {
  background-color: #005098;
  color: white;
  border: 1px solid white;
  margin-bottom: 20px;
  margin-right: 16px;
  padding: 8px 16px;
}

.first-form .first-block form .selection div input:nth-child(2) {
  color: #1c1c1b;
  background-color: white;
}

.first-form .first-block form .st-newsletter {
  margin-top: 14px;
  margin-bottom: 40px;
}

.first-form .first-block form .st-newsletter input {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.first-form .first-block form .st-newsletter label {
  display: inline-block;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.first-form .second-block {
  width: 50%;
}

.first-form .second-block img {
  width: 100%;
  height: auto;
}

.who-we-are {
  padding: 80px;
}

.who-we-are .text-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}

.who-we-are .text-logo div:first-child {
  width: 35%;
}

.who-we-are .text-logo div:first-child h2 {
  font-weight: 800;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.who-we-are .text-logo div:first-child p {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  font-weight: normal;
  width: 100%;
}

.who-we-are .text-logo div:last-child {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.who-we-are .text-logo div:last-child svg {
  width: 288px;
  height: 215px;
}

.who-we-are .text-logo div:last-child svg path:last-child {
  fill: #005098;
}

.who-we-are .achievements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.who-we-are .achievements div {
  color: #003f7e;
}

.who-we-are .achievements div div:first-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  padding-bottom: 16px;
  display: inline-block;
  border-bottom: 1px solid #003f7e;
}

.who-we-are .achievements div div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.who-we-are .achievements div div:last-child span:first-child {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.02em;
  margin-right: 8px;
}

.who-we-are .achievements div div:last-child span:last-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  width: 100%;
}

hr {
  border: 4px solid #005098;
}

.why-to-work-with-us {
  padding: 100px 0;
}

.why-to-work-with-us .main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.why-to-work-with-us .main-block > div {
  width: 50%;
}

.why-to-work-with-us .main-block > div img {
  height: 100%;
  width: 100%;
}

.why-to-work-with-us .main-block .second-block {
  padding: 0 60px;
}

.why-to-work-with-us .main-block .second-block h3 {
  font-size: 52px;
  line-height: 54px;
  letter-spacing: 0.02em;
  font-weight: 800;
}

.why-to-work-with-us .main-block .second-block .six-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 24px;
}

.why-to-work-with-us .main-block .second-block .six-blocks div {
  width: 29%;
  margin-top: 40px;
  margin-right: 24px;
}

.why-to-work-with-us .main-block .second-block .six-blocks div h3 {
  color: #003f7e;
  font-weight: 700;
  font-size: 48px;
  line-height: 36px;
  letter-spacing: 0.02em;
  border-bottom: 1px solid black;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.why-to-work-with-us .main-block .second-block .six-blocks div h4 {
  font-weight: 800;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.why-to-work-with-us .main-block .second-block .six-blocks div p {
  margin-top: 16px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.why-to-work-with-us .main-block .second-block > div:last-of-type {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.become-our-partner {
  background-color: #005098;
  color: white;
  padding: 80px 168px;
}

.become-our-partner .titles h3 {
  font-size: 52px;
  line-height: 54px;
  letter-spacing: 0.02em;
  font-weight: 800;
  text-transform: uppercase;
}

.become-our-partner .titles h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  margin-top: 8px;
}

.become-our-partner form {
  margin-top: 32px;
}

.become-our-partner form div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.become-our-partner form div:first-child div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 24px;
}

.become-our-partner form div:first-child div div.specialty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.become-our-partner form div:first-child div div.specialty input {
  border: 1px solid white;
  background-color: #005098;
  color: white;
  margin-right: 16px;
}

.become-our-partner form div:first-child div div.specialty input:nth-child(2) {
  background-color: white;
  color: #1c1c1b;
}

.become-our-partner form .newsletter-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 40px;
}

.become-our-partner form .newsletter-check input {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.become-our-partner form .newsletter-check label {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.02em;
  cursor: pointer;
  margin: 0;
}

.become-our-partner form > div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}

footer {
  padding: 80px 0;
  background-color: #1c1c1b;
}

footer .footer-titles {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-titles h2 {
  font-weight: 800;
  font-size: 52px;
  line-height: 54px;
  letter-spacing: 0.02em;
}

footer .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

footer .footer-info div a {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 32px;
}

footer .footer-info div a span:first-child {
  margin-right: 17.45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-info div a span svg {
  height: 24px;
  width: 21.09px;
}

footer .footer-info div a span svg path {
  fill: white;
}

footer .footer-info div a span:last-child {
  font-weight: 300;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.02em;
}
/*# sourceMappingURL=style.css.map */